<section>
  <h2>Nacimientos anteriores</h2>
  <%- @borns.each do |born| %>
    <ul>
      <li>
        <span class="label">
          <%= link_to born.name, born_path(born) %>
        </span>
      </li>
    </ul>
  <% end %>
</section>
