//= require reset.min
//= require header.css
//= require footer.css

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}

body {
  background-color: rgba(134,174,204,1);
  height: 100%;
}

td.day {
  max-width: 50px;
}

.day ul {
  list-style-type: none;
}

.day button {
  font-size: 10px;
  width: 100%;

  padding: 4px;
}

.past {
  color: grey;

  .label {
    background-color: grey;
  }
}
.today {
  background-color: #c6cee4;
}

#principal-content {
  width: 1000px;
  height: 100%;
  background: #fff;
  padding: 5%;
  border-radius: 5px;
}
