footer {
  background: #15334d;
  width: 100%;
  color: #ccc;
  bottom: 0;
  position: relative;
  clear: both;
  margin-top: 3%;
}

footer section {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

.disqus-footer__wrapper, .disqus-footer {
  display: none;
}
