blockheader {
  width:  100%;
  height: 381px;
  background: rgba(158,45,250,0.45);
  background: -moz-linear-gradient(rgba(158,45,250,0.45) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(158,45,250,0.45)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(rgba(158,45,250,0.45) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(rgba(158,45,250,0.45) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(rgba(158,45,250,0.45) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(rgba(158,45,250,0.45) 0%, rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2dfa', endColorstr='#86aecc', GradientType=1 );
}

header section {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  min-width: 381px;
}


header section #principal {
  background: url('https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-portal-blue-50996d0762fb6d9ee13d6a52404dd01327fc542cc729777d532c9b633103c835.svg') no-repeat;
  width: 564px;
  height: 400px;
}

h1
{
  text-align: center;
  color: white;
  line-height: 20x;
  font-size: 65px;
  font-family: 'ArchivoBlackRegular';
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  }
a
{
  font-family: 'GlacialIndifferenceRegular';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 22px;
  text-decoration: none;
  color: white;
  margin-right: 15px;
 }

 .block
 {
   position: absolute;
   margin: 36px auto 100px auto;
   padding-left: 4%;
 }
 .block h2
 {
   font-family: 'GlacialIndifferenceRegular';
   font-weight: normal;
   font-style: normal;
   text-align: center;
   font-size: 35px;
   color: white;
   margin: 0 auto;
 }

.panza
{
  position: absolute;
  right: 0;
  opacity: 0.55;
  width: 345px;
}

.circulos {
    margin: 0;
    position: absolute;
    transform: translateX(25%);

}

#header-min {
  height: 80px;
  padding: 1% 0;
}

#header-min section  {
  width: 1000px;
}

#header-min section #principal {
  text-align: left;
  background: none;
  width: 100%;
  height: auto;
}

#header-min section #principal a {
  float: left;
  margin-right: 2%;
}

#header-min section #principal h1 {
  float: left;
  font-size: 18px;
  margin-top: 1%;
}
