<header>
  <section>
    <div id='principal'>
      <%= image_tag 'panza.png', class: 'panza' %>

      <div class="block">
        <a href='/'>
          <%= image_tag "calendario.png", width: "130", height: "130", opacity: "0.7" %>
        </a>
        <h1>ESPERANDO</h1>

        <div class="login">
          <%= link_to 'Crear Nacimiento', new_born_path %>
        </div>
      </div>
    </div>
  </section>
</header>
