<header id='header-min'>
  <section>
    <div id='principal'>
      <a href='/'>
        <%= image_tag "calendario.png", width: "30", height: "30", opacity: "0.7" %>
      </a>
      <h1>ESPERANDO</h1>
    </div>
  </section>
</header>
