<!DOCTYPE html>
<html>
  <head>
    <title>Prode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_url) %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/header_min' %>
    <% end %>

    <div class="container" id='principal-content'>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
      </div>
      
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
